/*
  --- COLORS ---
  Light green: #7ed56f
  Medium green: #55c57a
  Dark green: #28b485

  Lavender: #6C648B (OR Header #756b9d)
  Stormy: #494E6B
  Cloud: #98878F
  Evening: #192231
  Sunset(dark pink): #985E6D
  Sunshine: #FBA100
  Aqua: #6BBAA7
*/


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* To change box model - borders & padding are no longer added to the total of the box */
}

body {
  /*font-family: 'Oswald', sans-serif;*/
  /*font-family: 'Ropa Sans', sans-serif;*/
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #ffffff;
}


/*------------------------------ HEADER section ------------------------------*/
.header {
  height: 95vh;
  background-image: linear-gradient(
    to right bottom,
    rgba(117, 107, 157, 0.8),
    rgba(73, 78, 107, 0.8) ), url(../img/hero.jpg);
  background-size: cover;
  background-position: top;
  position: relative;

  /*clip-path: polygon(x y, x y, x y, x y); can use % or vh*/
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 60%);
}

.logo-box {
  position: absolute;
  top: 40px;
  left: 40px;
}

.logo {
  height: 35px;
}

.text-box {
  position: absolute;
  top: 47%; /* position in relation to the parent element */
  left: 50%; /* position in relation to the parent element */
  transform: translate(-50%, -60%); /* transform it self */
  text-align: center;
}

.heading-primary {
  text-transform: uppercase;
  margin-bottom: 55px;
}

.heading-primary-main {
  display: block;
  font-size: 60px;
  font-weight: 700;
  letter-spacing: 31px;
  text-align: center;
}

.heading-primary-sub {
  display: block;
  font-size: 26px;
  font-weight: 400;
  letter-spacing: 14px;
  text-align: center;
}


/*---------------------------------- BUTTONS ----------------------------------*/
.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 18px 45px;
  border-radius: 50px;
  display: inline-block;
  -webkit-transition: all 0.2s ease-in-out;
          transition: all 0.2s ease-in-out;
  position: relative; /* Reference of .btn::after */
}

.btn:hover {
  transform: translateY(-3px);
  /* translateY: negative value to go up; positive to go down */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
  -webkit-transition: all 0.2s ease-in-out;
          transition: all 0.2s ease-in-out;
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
}

.btn-header {
  background-color: #FBA100;
  color: #ffffff;
}

/* (pseudo-element) treated like a child of the button */
.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 50px;
  position: absolute; /* position element + need reference of parent */
  top: 0;
  left: 0;
  z-index: -1; /* behind the button */
  -webkit-transition: all 0.4s ease-in-out;
          transition: all 0.4s ease-in-out;
}

.btn-header::after {
  background-color: rgba(255, 178, 41, 0.9);
}

.btn:hover::after {
  transform: scaleX(1.2) scaleY(1.4);
  /* transform: scale(1.2); */
  opacity: 0;
}







/*------------------------------ next section ------------------------------*/
